<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->


<script src="{{ site.url }}{{ site.baseurl }}/{{ "plugins/jquery-3.2.1.min.js" }}"></script>


{% if page.support contains 'gallery' %}
<!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
<script src="{{ site.url }}{{ site.baseurl }}/{{ "plugins/jquery.mousewheel.min.js" }}"></script>

<!-- Actual includes needed for the gallery -->
<script src="{{ site.url }}{{ site.baseurl }}/{{ "plugins/lightgallery-all.min.js" }}"></script>
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/{{ "plugins/lightgaller.min.css" }}" />
<script src="{{ site.url }}{{ site.baseurl }}/{{ "plugins/isotope.pkgd.min.js" }}"></script>
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/{{ "assets/css/gallery.css" }}" />
<script src="{{ site.url }}{{ site.baseurl }}/{{ "plugins/picturefill.min.js" }}"></script>
<script src="{{ site.url }}{{ site.baseurl }}/{{ "plugins/imagesloaded.pkgd.js" }}"></script>
{% endif %}

<!-- end custom head snippets -->
